.contenido{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.titulo{
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin: 10px;
  background-color: rgb(191, 81, 255);
  padding: 5px;
  border-radius: 10px;
}
.encabezado{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.botones{
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: flex-end;

}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 width: 100%;
}
.orden{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 10px;
}
.turnWinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width:700px){
  .container{
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .botones{
    justify-content: center;
  }
  .encabezado{
    justify-content: space-evenly;
  }
}